.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    overflow: hidden;
    position: relative;
}

.hero img {
    width: 100%;
    max-width: 150rem;
    object-fit: cover; 
    object-position: center; 
}

.hero_frase {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.6);;
    padding: 1rem 0;
}

.hero_frase span {
    color: var(--color-primario);
    z-index: 100;
    font-weight: bold;
    font-size: 1.4rem;
}

.cta {
    display: inline-block; /* Se adapta al contenido */
    background-color: #E6A5B6; /* Color del botón */
    color: white; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.cta:hover {
    background-color: #d18a9f; /* Un poco más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de crecimiento */
}

.cta-container {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.index-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: flex-start;
    min-height: 10rem;
}

.index-section h2 {
    margin-bottom: 2rem;
}

#productos_destacados_contenido, #productos_nuevos_contenido {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.index-beneficios-contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
}

.index-beneficio-contenedor {
    display: block;
    width: auto;
}

.index-beneficios-beneficio {  
    display: flex;
    position: relative;
    width: 15rem;
    height: 15rem;
    background: linear-gradient(0.06deg, rgba(250, 250, 250, 1) 0%, 
                                        rgba(246, 246, 246, 1) 29.62%, 
                                        rgba(234, 234, 234, 1) 58.47%, 
                                        rgba(215, 215, 215, 1) 86.92%, 
                                        rgba(204, 204, 204, 1) 99.22%); 
    box-shadow: -4px 8px 8px rgba(0,0,0,0.1), 
                -8px 16px 16px rgba(0,0,0,0.1), 
                -16px 32px 32px rgba(0,0,0,0.15), 
                -32px 64px 64px rgba(0,0,0,0.25);  
  }

  .index-beneficios-beneficio img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%)  
    translateX(-50%)
    }

    .index-contenedor-beneficio {
        width: 15rem;
    }

    .index-beneficios-contenedor span {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.6rem;
        font-weight:600;
        color: var(--color-secundario);
        word-wrap: break-word;
    }
    
  
  .index-beneficios-beneficio:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  
  .index-beneficios-beneficio.z { 
    border-radius: 15px 50px 15px 50px;
    background: linear-gradient(0.01deg, rgba(179, 179, 179, 1) 8.92%, 
                                            rgba(213, 213, 213, 1) 31.91%, 
                                            rgba(240, 240, 240, 1) 54.33%, 
                                            rgba(250, 250, 250, 1) 67.52%); 
  }
  
  .index-beneficios-beneficio.z:before {   
    margin: 8px;
    border-radius: 15px 50px 15px 50px;
    background: linear-gradient(0.06deg, rgba(250, 250, 250, 1) 0%, 
                                        rgba(246, 246, 246, 1) 29.62%, 
                                        rgba(234, 234, 234, 1) 58.47%, 
                                        rgba(215, 215, 215, 1) 86.92%, 
                                        rgba(204, 204, 204, 1) 99.22%); 
  }
  
  .index-beneficios-beneficio.a {
    /* border-radius: 150px 0; */
    box-shadow: -1px -1px 2px #eee, 
                -1px 0px 3px #eee, 
                -4px 8px 8px rgba(0,0,0,0.1), 
                -8px 16px 16px rgba(0,0,0,0.1), 
                -16px 32px 32px rgba(0,0,0,0.15), 
                -32px 64px 64px rgba(0,0,0,0.25);
  }
  


@media (min-width: 769px) {
    .hero {
      height: 40rem;
    }
  
    .hero_frase span {
      font-size: 1.6rem;
    }

    #productos_destacados_contenido, #productos_nuevos_contenido {
        gap: 3rem;
    }

    .index-beneficios-contenedor {
        
        gap: 4rem;
    }
  }

  @media (min-width: 1200px) {
    .hero_frase span {
      font-size: 2.2rem;
    }

    #productos_destacados_contenido, #productos_nuevos_contenido {
        gap: 5rem;
    }
    /* .index-beneficios-contenedor {
        gap: 8rem;
    } */
  }