.footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 3rem 0 6rem 0;
    text-align: center;
}

.footer-copyRight {
    width: 100%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding-top: 3rem;
    text-align: center;
    font-size: 1.4rem;
}

.footer-section {
    justify-content: center;
    
}

.footer-section h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--color-primario);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: var(--color-primario);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.footer-section a:hover {
    color: #FFD1DC;
}

.footer-socials img {
    width: 24px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.footer-socials img:hover {
    transform: scale(1.1);
}

.footer-redes a {
    color: var(--color-primario);
}



#footer-iconos-redes {
    display: flex;
}

.social-icons {
    display: none;
    gap: 10px;
}

.social-icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #888; /* Color gris inicial */
    transition: color 0.3s ease-in-out;
}

.social-icon svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor; /* Hace que el color del SVG dependa de la clase */
}

.social-icon.x:hover {
    color: #000000;
}

.social-icon.facebook:hover {
    color: #1877F2;
}

.social-icon.instagram:hover {
    color: #E4405F;
}

.social-icon.youtube:hover {
    color: #FF0000;
}

.social-icon.pinterest:hover {
    color: #E60023;
}



@media (min-width: 769px) {
    .footer {
        padding: 3rem;
        /* flex-wrap: wrap; */
        font-size: 1.2rem;
        align-items: center;
    }

   

    .footer-section {
        width: 31rem;
    }
}


@media (min-width: 1200px) {
    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 3rem;
    }

    .footer-section-acerca {
        order: 2;
    }

    .footer-section-ubicacion {
        order: 1;
    }

    .footer-section-atc {
        order: 3;
    }

    .footer-section-redes {
        order: 4;
    }
}