header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-primario);
    z-index: 200;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.19);
 }


.header_identidad_marca {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    
}

.header_identidad_marca h1 span {
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    letter-spacing: 1rem;
    padding-left: 1rem;
}

.header_identidad_marca h1 {
   line-height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.header_identidad_marca a{
    height: 100%;
    display: flex;
    align-items: center;
}

.header_iconos_varios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.logo {
    height: 80%;
    width: auto;
}

.header_usuario {
    display: none;
}

.icono_carrito {
    width: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.icono_menu {
    width: 5rem;
    margin-left: 2rem;
}

.icono_cerrar_menu {
    width: 3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.icono_usuario{
    display: none;
}

.nav {
    width: 100%;
    background-color: var(--color-terciario);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 2rem 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav.active {
    opacity: 1;
    visibility: visible;
    
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav ul li{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.nav ul li a {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    color: var(--color-primario);
    font-weight: bold;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5f727f;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  
  nav a:hover::after {
    width: 100%;
  }

.active {
    display: block;
}

.nav ul .header_menu_ocultables {
    display: flex;
}



@media (min-width: 769px) {
    .icono_cerrar_menu {
        display: none;
    }

    .icono_usuario {
        display: block;
        width: 2.6rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    .header_usuario {
        height: 2rem;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 1.2rem;
    }

    .header_usuario_nombreCliente {
        display: block;
        width: 9rem;
        cursor: pointer;
        margin-right: 0;
        font-weight: 600;
    }       

    header {
        padding: 0 3rem;
    }
  

    main {
        padding-left: 3rem;
        padding-right: 3rem;
    }

  

    .header_identidad_marca h1 {
        line-height: 2.5rem;
    }

    
    .social-icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
       width: 8.2rem;
    }

    .nav ul .header_menu_ocultables {
        display: none;
    }

    .header_menu_datosUsuario {
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%);
        background-color: var(--color-primario);
        width: 150px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s;
        box-shadow: var(--sombra-base);
    }
    
    .header_usuario:hover .header_menu_datosUsuario {
        opacity: 1;
        visibility: visible;
    }
    
    .header_menu_datosUsuario a {
        display: flex;
        padding: 0.5rem;
        font-size: 1.4rem;
        transition: all 0.5s;
        color: var(--color-texto-gris);
    }
    
    .header_menu_datosUsuario a:hover {
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .nav {
        display: flex;
        justify-content: center;
        height: 4rem;
        width: 100%;
        position: static;
        top: unset;
        right: unset;
        padding: 0;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }

    .nav ul {
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 4rem;
        align-items: flex-end;
        align-items: center;
    }

    .nav ul li {
        width: auto;
    }

    .nav ul li a {
        color: var(--color-texto-gris);
        width: auto;
    }

    main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

  
    nav {        
        height: 4rem;
    }

    .nav ul {
        gap: 6rem;
    }

    .icono_menu {
        display: none
    }
}