/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../../assets/fonts/montserrat-v29-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/montserrat-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/montserrat-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/fonts/montserrat-v29-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/playfair-display-v37-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/playfair-display-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/fonts/playfair-display-v37-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-primario: #FFFFFF; /* Fondo principal */
    --color-secundario: #858acd; /* Encabezados, botones secundarios */
    --color-terciario: #E6A5B6; /* Botones principales, elementos destacados */
    --color-texto-negro: #333333; /* Color de texto principal */
    --color-texto-gris: #5f727f;
    --fuente-primaria: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Playfair Display', serif;
    --sombra-base: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    min-height: 100vh;
    margin:  0 auto;
    background-color: var(--color-primario);
    font-family: var(--fuente-primaria);
    color: var(--color-texto-negro);
    
}

main {
    max-width: 150rem;
    min-height: 50rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
}

h1 { 
    font-size: clamp(2rem, 5vw, 3rem); 
    line-height: 1.2;
    font-family: var(--fuente-secundaria);
    font-weight: 700;
    color: var(--color-secundario);
}

h2 { 
    font-size: clamp(1.4rem, 4vw, 2.4rem); 
    line-height: 1.2;
    font-family: var(--fuente-primaria);
    font-weight: 900;
    color: var(--color-secundario);
}

h3 { 
    font-size: clamp(1.4rem, 3.5vw, 2.2rem); 
    line-height: 1.3;
    font-family: var(--fuente-primaria);
    font-weight: 700;
    color: #5F629C; /* Un tono más oscuro del secundario */
}

h4 { 
    font-size: clamp(1.4rem, 3vw, 2rem); 
    line-height: 1.3;
    font-family: var(--fuente-primaria);
    font-weight: 600;
    color: var(--color-texto-negro); /* #333333 o un tono más oscuro del secundario */
}

button {
    border: none;
    padding: 1.2rem 2rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

/* Botón Primario */
.btn-primario {
    background-color: var(--color-terciario); /* Rosa */
    color: var(--color-primario); /* Blanco */
}

.btn-primario:hover {
    background-color: #D68A9F; /* Un poco más oscuro en hover */
}

/* Botón Secundario */
.btn-secundario {
    background-color: var(--color-secundario); /* Lavanda */
    color: var(--color-primario); /* Blanco */
}

.btn-secundario:hover {
    background-color: #6F73B5; /* Un poco más oscuro en hover */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-secundario { color: var(--color-secundario); }
.texto-terciario { color: var(--color-terciario); }
.texto-blanco { color: var(--color-primario); }
.texto-negro { color: var(--color-texto-negro); }
.texto-gris {color: var(--color-texto-gris);}

.card {
    /* position: relative; */
    width: 45%;
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primario);
    box-shadow: var(--sombra-base);
    border-radius: 8px;
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.card_link_producto {
    position: relative;
    height: auto;
    padding: 1rem;
}

.card_contenedor_imagen {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.imagen_card {
    width: 100%;
    height: auto;
}

.card_contenedor_info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 12.6rem;
    font-size: 1.6rem;
    color: #333333;
}

.card_contenedor_info h3 {
    height: 3rem;
    line-height: 1;
}

.card_marca {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.card_precio {
    display: flex;
    flex-direction: column;
}

.card_precioOferta {
    display: flex;
    
}

.card_precioOferta_precio {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ccc;
}

.card_precioOferta_descuento {
    margin-left: 1rem;
    font-weight: 600;
    color: red;
}

.card_precioFinal {
    font-weight: 600;
    font-size: 1.8rem;
}

.etiqueta_oferta {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 8px 0 0 0;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bold;
    background-color: red;
    z-index: 100;
}

.porcentaje_oferta_producto {
    color: red;
    margin-left: 1rem;
}

.card_extras {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   }

.card_button {
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border-radius: 1.3rem;
    /* margin-top: 1.4rem; */
    transition: all 0.3s;
    background-color: #DFE5E8FF;
    color: var(--color-texto-gris);
    z-index: 99;
}


@supports (-webkit-line-clamp: 1) {
    .card_contenedor_info h3 {
        max-height: 3rem;
        font-size: clamp(1.4rem, 2vw, 1.6rem); 
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        -webkit-line-clamp: 2;  /* Número de líneas antes del corte */
        overflow: hidden;  
        text-overflow: ellipsis;  
        word-break: break-word;
    }
}

@supports not (-webkit-line-clamp: 1) {
    .card_contenedor_info h3 {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Si solo quieres una línea */
    }
}


.mensajeCarrito {
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    transition: opacity 0.5s;
    justify-content: center; 

}

.mensaje-exito {
    color: green;
}

.mensaje-error {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.formulario-login {
    width: 35rem;
    margin: 2rem 0;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
}

.formulario-login-registrarse {
    display: block;
    padding: 0.3rem 0.5rem;
    font-size: 1.4rem;
    transition: all 0.3s;
}

.formulario-login-registrarse:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--color-secundario);
    border-radius: 4px;
    font-size: 1.6rem;
    transition: 0.3s;
}

input:focus {
    border-color: var(--color-terciario);
    outline: none;
    box-shadow: 0 0 5px rgba(230, 165, 182, 0.5);
}

label {
    margin-top: 1.5rem;
    padding-left: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    display: block;
}

input[type="submit"] {
    background-color: var(--color-terciario);
    margin-top: 3rem;
    border: none;
    cursor: pointer;
}

.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.password-container button {
    width: 3rem;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.password-container input[type="submit"]:hover,
.password-container input[type="submit"]n:focus {
    background: none;
    outline: none;
}

#resultado-login {
    width: 100%;
    position: absolute;
    top: 110%;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: red;
    background-color: transparent;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

#sesion {
    display: none;
}


@media (min-width: 769px) {
       
    .card {
        width: 30%;
        
    }

}

@media (min-width: 1200px) {
    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.12);
    }

    .card_button:hover {
        background-color: var(--color-terciario);
        color: var(--color-primario);
    }
}


