.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    overflow: hidden;
    position: relative;
}



.hero img {
    width: 100%;
    max-width: 150rem;
    object-fit: cover; 
    object-position: center; 
    
}

.hero_frase {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.6);;
    padding: 1rem 0;
 
}

.hero_frase span {
    color: var(--color-primario);
    z-index: 100;
    font-weight: bold;
    font-size: 1.4rem;
}

.cta {
    display: inline-block; /* Se adapta al contenido */
    background-color: #E6A5B6; /* Color del botón */
    color: white; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.cta:hover {
    background-color: #d18a9f; /* Un poco más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de crecimiento */
}

.cta-container {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 769px) {
    .hero {
      height: 40rem;
    }
  
    .hero_frase span {
      font-size: 1.6rem;
      }
  }

  @media (min-width: 1200px) {
    .hero_frase span {
      font-size: 2.2rem;
      }
  }